@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #4CAF50;
  margin: 0; /* Ensure there's no default margin on the body */
}

.card {
  width: 150px;
  height: 200px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-suit, .bottom-suit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.middle-value {
  font-size: 24px;
}

button {
  margin-top: 30px; /* Adjust the space between the card and button */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
